html {
  max-block-size: 100%;
  max-inline-size: 100%;

}

body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  background-color: mistyrose;

}

.calculator-container {
  background: purple;
  display: grid;
  margin-top: 20rem;
  width: 45%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  grid-template-rows: auto 1fr 1fr 1fr 1fr;
  
}
.row {
  background-color: yellow;
  border: 1px solid black;
  padding: 1rem;
}