html {
  max-block-size: 100%;
  max-inline-size: 100%;
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  background-color: mistyrose;

}

.calculator-container {
  background: purple;
  display: grid;
  margin-top: 20rem;
  max-width:500px;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  grid-template-rows: auto 1fr 1fr 1fr 1fr;
  
}
.calculator-container > .display {
  text-align: right;
  font-size: 2rem;
  background-color: lightgrey;

}
.row {
  padding: 1rem;
  outline: 2px solid black;
  background-color: slategrey;
}