*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: mistyrose;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(17, 50px);
  grid-template-rows: repeat(6, 50px);
  gap: 2px;
}

.item {
  background-color: tomato;
}

.spacebar {
  grid-column: 6 / 13;
  background-color: lightgrey;
}

.alt {
  grid-column: 3 / 4;
  background-color: lightgray;
}

.meta {
  grid-column: 4 / 6;
  background-color: lightgray;
}
.meta-r {
  grid-column: 13 / 15;
  background-color: lightgray;  
}
.alt-r {
  background-color: lightgray;
}

.blocker {
  background-color: whitesmoke;
  grid-column:  16 / 18;
}
.blocker-left {
  background-color: whitesmoke;
  grid-column-start: 1;
  grid-column-end: 3;
}
