html {
  max-block-size: 100%;
  max-inline-size: 100%;
}

body {
  height: 100%;
  width: 100%;
  background: rebeccapurple;
  margin: 0;
  padding: 0;
}

.container {
  min-height: 600px;
  background-color: beige;
  display: grid;
  place-content: center;
}
